.logoWrap{
  position:relative;
  z-index:100000;
}
.logo{
  z-index:10000;
  @media screen and (max-width:640px){
      padding:25px;
  }
  &.large{
    max-width: 500px;
    width:100%;
    margin:0 auto;
    display:inline-block;
  }
  &.small{
    max-width:160px;
  }
}
