.banner{
  z-index:0;
  position:relative;
  margin-top:-70px;
  background-color: $mainYellow100;
  background-image: url(../images/bannerpattern.jpg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  padding:50px;
  text-align:center;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  &:before, &:after{
    content:"";
    width:50px;
    display:block;
    position:absolute;
    top:0px;
    bottom:0px;
    background: $mainYellow100;
  }
  &:before{
    left:-50px;
  }
  &:after{
    right:-50px;
  }
  h1{
    margin:0px;
    font-size:60px;
    font-weight:900;
    font-family: "Roboto";
  }
  @media screen and (max-width:640px){
    -webkit-transform: none;
    transform: none;
    h1{
      font-size:40px;
    }
  }

}
.main{
  margin-top:-50px;
  background-color: $mainBlue100;
  padding-bottom:110px;
  padding-top:120px;
  hr{
    background-color: $accentBlue100;
  }
}

.content{
  padding-left:30px;
  padding-right:50px;
  padding-bottom:25px;
}

.video{
  margin-bottom:50px;
  height:400px;
  background: $white100;
  border: 1px solid $accentBlue100;
  p {
    line-height:400px;
    color: $accentBlue100;
    text-align:center;
  };
}

.mainContent{
  border-bottom: 1px solid $accentBlue100;
}
.cta{
  padding-top:70px;
  .content{
    padding-bottom:25px;
  }
}
.secondary{
  padding-top:50px;
}
.tagLine{
  font-weight:500;
}
