$white100: rgba(255,255,255,1);
$black100: rgba(0,0,0,1);

$mainBlue100: rgba(227,230,237,1);
$accentBlue100: rgba(190,198,218,1);
$mainYellow100: rgba(231,181,30,1);

$accentGrey100: rgba(91,98,116,1);

.uppercase{
  text-transform:uppercase;
}

.greyTxt{
  color: $accentGrey100;
}

.btn-shadow{
  box-shadow: 0 2px 5px 0px $accentGrey100;
}
.yellow{
  color: $mainYellow100;
}
